body {
    background-color: #f5f5f5;
    display:flex;
    justify-content: center;
}
table{
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
    margin: 40px;
    height: 100vh;
}
.card-container{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    margin:20px 0px;
    width: 1140px;
    font-family: 'Varela Round', sans-serif;
}
.card-header{
    background: #435d7d;
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span{
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}
.header-title1{
    font-weight: 300;
    color: white;
    padding-right: 500px;    
}
span{
    font-weight: 600;
}

.card-content{
    background-color: white;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
}
.card-content table {
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
    margin: 24px 23px;
    height: 100vh;
}
.contenedor-input{
    display:flex;
    justify-content:flex-end;
    margin-top: 29px;
}
.input-filter{
    width: 344px;
    height: 34px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 13px;
    margin-right: 26px;
    color: #555;
    border: 1px solid #ccc;
    font-family: 'Varela Round', sans-serif;
}
.btn-add{
    align-items: center;
    background: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    height: 32px;
    margin-left: 100px;
    margin-top: 15px;
    padding-right: -25px;
    display: flex;
    justify-content: center;
    width: 170px;
}

#btn:focus{
    outline:none;
}
#btn:active{
    text-decoration:none;
    outline:none; 
    background-color: #398439;
}

.main-tabla{
    color: #435d7d;
    font-weight: 600;
    font-size: 13px;
}

.main-tabla td {
    padding-bottom: 8px;
}

.checkbox {
    width: 18px;
    height: 30px;
    margin: -4px 15px;
}

.main-tabla tr > td:nth-child(1) {
    width: 73px;
}
.main-tabla tr > td:nth-child(2) {
    width: 219px;
}
.main-tabla tr > td:nth-child(3) {
    width: 210px;
}
.main-tabla tr > td:nth-child(4) {
    width: 262px;
}
.main-tabla tr > td:nth-child(5) {
    width: 232px;
}

